<div class="contribute" data-proofer-ignore>
  <% if @document %>
    <a href="https://dxw.getoutline.com<%= @document.edit_url %>">Edit page</a>
  <% else %>
    <a href="https://dxw.getoutline.com/collection/<%= ENV.fetch('OUTLINE_COLLECTION_ID', nil) %>">Contribute to the Playbook</a>
  <% end %>
</div>