<div class="contribute" data-proofer-ignore>
  <% if @document %>
    <a href="https://dxw.getoutline.com<%= @document.url %>/edit">Edit page</a>
  <% else %>
    <a href="https://dxw.getoutline.com/">Contribute to the Playbook</a>
  <% end %>
</div>