@use "./breakpoints";
@use "./colours";
@use "./typography";

.contribute {
  display: none;
  
  @include breakpoints.on-large-screens {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-family: typography.$heading-font-family;
    font-size: 0.9em;
    font-weight: typography.$heading-font-weight;
    background-color: colours.$accent-a;
  
    a {
      margin: 0;
    }
  }

  
}
